#Not tracked folders and files
Ivan
Ezad
Qi
twocolumn
SubVersion

#TempFiles for tex.
*.aux
*.ilg
*.log
*.synctex.gz
*.out
*.blg
*.bbl
*.dvi
*.bak
*~
*.asv
*.auxlock

SyncToMaster.sh
SyncFromMaster.sh
UpdateSubmoduleToMaster.sh
UpdateSubmoduleFromRemote.sh
FaradayProtocol.pdf
*_edited.*
*.rtf
FaradayProtocol*original).pdf
FaradayProtocolNotes.*
CooperativityEnhancement.pdf
CooperativityEnhancementNote*.bib
CooperativityEnhancement_IHD*
CooperativityEnhancement_arXiv*
Sync.sh

SubmissionPreview*.pdf
Referee_response.*
